/* 1 HOMEPAGE / SERVICES SECTION */
.servicesPage {
  height: 100%;
  width: 100%;
  /* overflow: auto; */
}
.service-container {
  padding-top: 1rem;
  padding-bottom: 6rem;
  margin-left: 1.4%;
}
.main {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 1.2rem; */
}
.service-card {
  width: 31%;
  height: 320px;
  margin: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(28, 28, 28, 0.97);
  margin-bottom: 1.6rem;
}
.product-img {
  width: 90%;
  margin: 5%;
  border-radius: 8px;
  height: 8rem;
  /* background-color: var(--primary-color); */
  background-color: rgba(28, 28, 28, 0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
}
.product-img i {
  font-size: 5rem;
}
.product-img .fa-soundcloud {
  padding-bottom: 1rem;
}
.product-img img {
  width: 90%;
  margin: 5%;
  border-radius: 7px;
  height: 10rem;
}
.product-info {
  text-align: center;
  color: var(--light-color);
}
.product-info .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--light-color);
}
.product-info .sub-title {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #999999;
  letter-spacing: 0.1em;
}
.product-info .description {
  height: 25%;
  color: #bdbdbd;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 0.1rem;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}
.product-info img {
  width: 30%;
}
.product-price p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #bdbdbd;
  font-weight: bold;
}
.product-price span {
  font-size: 14px;
}
.productBtn {
  width: 200px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 12px;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  color: var(--light-color);
  background-color: var(--primary-color);
  cursor: pointer;
  outline: none;
  padding: 7px 15px;
  text-align: center;
}
.productBtn:hover {
  background-color: #b38af5;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  padding-bottom: 0;
}
/*2 YOUTUBE PAGE */
.top-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  color: #8d8d8d;
  line-height: 1.5em;
  font-size: 0.8rem;
  position: relative;
  right: 10px;
  /* fixing box unclick */
  z-index: 2;
  padding-top: 2rem;
  padding-left: 1%;
}
.left-img {
  width: 30%;
  margin-right: 0;
}
.left-img img {
  width: 22rem;
  height: 100%;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  filter: opacity(0.9);
}
.right-info {
  width: 60%;
}
.mainInfo {
  width: 97%;
}
.product-price {
  padding: 4%;
  font-size: 1.5rem;
  color: #474747;
}
.product-price-btn {
  height: 30px;
  width: 120px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 13px;
  /* text-transform: uppercase; */
  color: var(--light-color);
  background-color: var(--primary-color);
  cursor: pointer;
  outline: none;
}
.product-price-btn:hover {
  background-color: #b38af5;
}
.right-info h1 {
  padding: 1% 0 2% 0;
  font-size: 30px;
  color: #8d8d8d;
}
.empower {
  padding: 3% 0 1% 0;
  font-size: 20px;
  color: #8d8d8d;
}
.bottom-container {
  width: 100%;
  padding-left: 9%;
  padding-top: 8%;
  position: relative;
  right: 75px;
  bottom: 70px;
  margin-bottom: 0;
  color: #8d8d8d;
  line-height: 1.5em;
  font-size: 0.8rem;
}
/* Price Table */
.wrapper2 {
  margin-top: 34px;
  text-align: center;
}
.pricing_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -3%;
}
.pricing_item {
  background-color: rgba(28, 28, 28, 0.97);
  margin: 0 18px;
  padding: 1.8rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.pricing_item:hover {
  cursor: pointer;
}
.type {
  color: var(--light-color);
  font-size: 26px;
}
.pricing_item p {
  color: #bdbdbd;
  margin-top: 14px;
}
.pricing-table-price {
  color: #bdbdbd;
  padding: 20px;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
}

.questions {
  text-align: center;
  color: #bdbdbd;
  margin-top: -2.4%;
}
/* 3 PAYPAL SECTION */
/* SLIDER CARD on youtube page*/
.connect2order {
  width: 22%;
  position: relative;
  bottom: 235px;
  left: 1040px;
}
.connect2order .card .face {
  width: 210px;
  height: 100px;
  transition: 0.5s;
  border-radius: 7px;
}
.connect2order .card .face.face1 {
  position: relative;
  background: #fff0a8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(50px);
}
.connect2order .card:hover .face.face1 {
  background: #fff0a8;
  transform: translateY(0px);
  border-radius: 7px 7px 0 0;
}
.connect2order .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
  color: black;
}
.connect2order .card:hover .face.face1 .content {
  opacity: 1;
}
.connect2order .card .face.face1 .content i {
  max-width: 50px;
}
.connect2order .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-50px);
}
.connect2order .card:hover .face.face2 {
  transform: translateY(0);
  border-radius: 0 0 7px 7px;
}
.connect2order .card .face.face2 .content {
  text-align: center;
  color: #414141;
  font-size: 14px;
}
.slide-btn {
  height: 30px;
  width: 60px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #8f65f6;
  cursor: pointer;
  outline: none;
  border: 1px solid #8f65f6;
  color: white;
  font-weight: bolder;
  margin-top: 10px;
}
/* CONFIRM PAYMENT */
.mainPaypal {
  width: 96.6%;
  margin-left: 2.5%;
  text-align: center;
  overflow-x: auto;
  height: calc(100vh - 8.6rem);
  border-radius: 8px;
  background-color: rgba(28, 28, 28, 0.97);
  padding-top: 5rem;
}
.images {
  display: flex;
  justify-content: center;
}
button:focus {
  outline: 0;
}
.delete {
  position: relative;
  top: 16px;
  right: 15px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.paypal-logo {
  font-family: Verdana, Tahoma;
  font-weight: bold;
  font-size: 26px;
}
.paypal i:first-child {
  color: #253b80;
}
.paypal i:last-child {
  color: #179bd7;
}
.paypal-button {
  padding: 37px 22px;
  /* border: 1px solid #ff9933; */
  border: transparent;
  border-radius: 5px;
  background-image: linear-gradient(#fff0a8, #f9b421);
  margin: 0 auto;
  display: block;
  min-width: 80px;
  position: relative;
}
.paypal-title {
  font-size: 14px;
  color: #505050;
  vertical-align: baseline;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.paypal-logo {
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
/* .youtubePageContainer {
  height: 100%;
  overflow: auto;
} */
.purchaseItem {
  font-size: 18px;
  padding: 0.6rem;
  color: var(--primary-color);
}
.purchaseAmount {
  font-size: 18px;
  padding: 0.6rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.productInfo {
  color: var(--light-color);
  font-size: 24px;
}
.paypalContainer {
  height: 20%;
  overflow: auto;
  padding-bottom: 100px;
}

.thankYouEmail {
  text-align: center;
  color: #bdbdbd;
  padding-top: 5rem;
}
