.pageContainer {
  grid-template-columns: 1.4fr 6fr;
  display: grid;
}

.chatContainer {
  grid-template-columns: 1.5fr 3fr;
  display: grid;
}

.fixedColumnLeft {
  position: fixed;
}

.leftColumn {
  /* background-color: #252525; */
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.4rem;
  padding-top: 1rem;
  z-index: 1;
}

.chatList {
  border-left: 1px solid rgb(88, 42, 255, 0.5);
  border-right: 1px solid rgb(88, 42, 255, 0.5);
  /* height: 100vh;
  overflow: scroll; */
}

.directChat {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgb(88, 42, 255, 0.5);
}

.directChatGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6% 50% 20%;
}

.directChatHeading {
  border-bottom: 1px solid rgb(88, 42, 255, 0.5);
  padding: 1rem;
}

.directChatBody {
  padding: 1rem;
  max-height: 80%;
  overflow: auto;
}

.messageForm {
  width: 100%;
  border-top: 1px solid rgb(88, 42, 255, 0.5);
  padding: 1rem;
}

.messageInput {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  outline: none;
  background: transparent;
  border-radius: 8px;
  width: 90%;
  color: var(--light-color);
}

.submitButton {
  background: none;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px #696969;
  border-radius: 10px;
  padding: 0.4rem;
  color: #696969;
  cursor: pointer;
  margin-left: 0.3rem;
}
.submitButton:hover {
  background: #696969;
  color: var(--light-color);
}

.chatAvatar {
  width: 4%;
  border-radius: 50%;
}
