.postContainer {
  background-color: rgba(28, 28, 28, 0.97);
  border-radius: 8px;
  margin: 5px;
  padding: 1.4rem;
}
.postText {
  color: var(--light-color);
  margin-bottom: 1rem;
}
.nameAndAvi {
  display: flex;
  align-items: center;
}

.postItemName {
  width: 100%;
}

.postNameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-top: 1%;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.postButton {
  background: none;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px var(--grey);
  border-radius: 10px;
  padding: 0.4rem;
  color: var(--grey);
  margin-right: 0.4rem;
  cursor: pointer;
}

.postButton:hover {
  background: var(--grey);
  color: var(--light-color);
}
