.postsContainer {
  grid-template-columns: 1.4fr 4fr 2fr;
  display: grid;
  width: 100%;
  height: 93%;
  overflow-y: auto;
}
.fixedColumnLeft {
  position: fixed;
}
.leftColumn {
  /* background-color: #252525; */
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.4rem;
  padding-top: 1rem;
  z-index: 1;
}
.leftColumnItem {
  padding: 20px;
  color: white;
  cursor: pointer;
}
.leftColumnItem:hover {
  color: #4aa0b5;
}
.fixedColumnRight {
  position: fixed;
  background-color: rgb(28, 28, 28, 0.95);
  border-radius: 8px;
  width: 22%;
  padding-bottom: 2rem;
}
.rightColumn {
  /* background-color: #252525; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.trendingSongs {
  color: white;
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
.trendingTitle {
  text-align: center;
  padding: 20px;
  color: white;
}
.trendingSong {
  padding: 10px;
}
.middleColumn {
  background-image: url("https://images.unsplash.com/photo-1602251043436-6bc82c7230d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position-x: 16rem;
  background-size: fill;
  background-attachment: fixed;
  /* height: 100vh; */
  /* overflow-y: auto; */
}
