/* .post-form {
  padding: 1.4rem;
  background-color: rgb(28, 28, 28, 0.4);
  margin-bottom: -0.3em;
} */

.post-form {
  padding: 1.4rem;
  background-color: rgba(28, 28, 28, 0.96);
  border-radius: 8px;
  margin: 5px;
}

::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(161, 161, 161);
}
.newPostText {
  width: 100%;
  background-color: #696969;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  color: white;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: -2px;
}
.fa-soundcloud {
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 2%;
}
.fa-youtube {
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 2%;
}
.soundCloudText {
  width: 91%;
  padding: 10px;
  background-color: #696969;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.youtubeText {
  width: 91%;
  padding: 10px;
  background-color: #696969;
  border-radius: 8px;
  outline: none;
  color: white;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.newPostSubmitContainer {
  display: flex;
  justify-content: flex-end;
}

.newPostSubmit {
  background: none;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px #696969;
  border-radius: 10px;
  padding: 0.4rem;
  color: #696969;
  margin-right: 0.4rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
.newPostSubmit:hover {
  background: #696969;
  color: var(--light-color);
}
