.postContainer {
  background-color: rgba(28, 28, 28, 0.96);
  border-radius: 8px;
  margin: 5px;
}
.postText {
  color: white;
  margin-bottom: 1rem;
}
.nameAndAvi {
  display: flex;
  align-items: center;
}

.postItemName {
  margin-left: 2%;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.postButton {
  background: none;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px #696969;
  border-radius: 10px;
  padding: 0.4rem;
  color: #696969;
  margin-right: 0.4rem;
  cursor: pointer;
}

.postButton:hover {
  background: #696969;
  color: var(--light-color);
}
