.post-form {
  padding-top: 1rem;
}

.songLinks {
  display: flex;
  justify-content: center;
  padding: 18px;
}

.or {
  color: white;
  padding-left: 8px;
  padding-right: 14px;
  padding-top: 4px;
  font-weight: lighter;
}

.newPost {
  width: 45%;
  margin: 0 auto;
}

.newPostText {
  width: 100%;
  background-color: #252525;
  box-shadow: 0 0 6px var(--primary-color);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  color: white;
  border: none;
}

.fa-soundcloud {
  color: var(--primary-color);
  font-size: 2rem;
}

.fa-youtube {
  color: var(--primary-color);
  font-size: 2rem;
}

.soundCloudText {
  width: 80%;
  margin-left: 5%;
  padding: 5px;
  background-color: #252525;
  box-shadow: 0 0 6px var(--primary-color);
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
}

.youtubeText {
  width: 80%;
  margin-right: 5%;
  padding: 5px;
  background-color: #252525;
  box-shadow: 0 0 6px var(--primary-color);
  border-radius: 5px;
  outline: none;
  color: white;
  border: none;
}

.newPostSubmitContainer {
  display: flex;
  justify-content: flex-end;
  width: 94%;
}

.newPostSubmit {
  background-color: #252525;
  padding: 10px;
  border: 1px solid var(--primary-color);
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  margin-left: 5%;
  cursor: pointer;
  outline: none;
}
