.post-form {
  padding: 1.4rem;
  background-color: rgb(28, 28, 28, 0.4);
  margin-bottom: -0.3em;
  /* border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  width: 100%; */
}

.postForm {
  width: 60%;
}

::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(161, 161, 161);
}
.newPostText {
  width: 100%;
  background-color: #696969;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  color: white;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: -2px;
}
.fa-soundcloud {
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 2%;
}
.fa-youtube {
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 2%;
}
.soundCloudText {
  width: 64%;
  padding: 10px;
  background-color: #696969;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.youtubeText {
  width: 64%;
  padding: 10px;
  background-color: #696969;
  border-radius: 8px;
  outline: none;
  color: white;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.newPostSubmitContainer {
  display: flex;
  justify-content: flex-start;
}

.newPostSubmit {
  background-color: #333333;
  padding: 10px;
  border: none;
  color: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  margin-top: 0.5em;
}
.newPostSubmit:hover {
  background-color: var(--primary-color);
  color: black;
}
