/* left column */
.leftColumn {
  margin-top: 20px;
}
.leftColumnBtn {
  margin-bottom: 60px;
  color: #d4d4d4;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

/* right column */
.rightcolumn {
  margin-bottom: 30px;
  color: #d4d4d4;
}
.rightColumn h5 {
  color: #d4d4d4;
}

.rightColumn li {
  color: #d4d4d4;
}

/* homepage layout */
.wholeHomepage {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 8.5fr;
  justify-items: start;
}

.homepage-row1 {
  grid-row: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-row2 {
  grid-row: 2;
  grid-template-columns: 2fr 6fr 2fr;
  display: grid;
  width: 100%;
}

.homepage-col1 {
  grid-column: 1;
  margin-right: 10%;
}

.homepage-col2 {
  grid-column: 2;
  justify-items: center;
  color: #d4d4d4;
  border-right: 1px solid #303030;
  border-left: 1px solid #303030;
}
.homepage-col3 {
  grid-column: 3;
  margin-left: 10%;
}

/* left column */
.leftColumn {
  margin-top: 20px;
  margin-left: 5%;
}
.leftColumnBtn {
  margin-bottom: 60px;
  color: #d4d4d4;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

/* right column */
.rightcolumn {
  margin-bottom: 30px;
  color: #d4d4d4;
  margin-right: 5%;
}
.rightColumn h5 {
  color: #d4d4d4;
}

.rightColumn li {
  color: #d4d4d4;
  font-size: 13px;
}

.topChartBox {
  margin-bottom: 5%;
  background-color: #252525;
  border-radius: 5px;
}

.bottomChartBox {
  margin-top: 5%;
  background-color: #252525;
  border-radius: 5px;
}
