.profileFormPage {
  height: 100%;
  overflow: auto;
}
.profileFormContainer {
  margin: auto;
  margin-top: 2rem;
  background: #080613;
  width: 50%;
}
.goback {
  position: absolute;
  top: 15px;
  left: 10px;
}
.editHeading {
  color: var(--light-color);
  padding-top: 1%;
  font-weight: lighter;
  font-size: 28px;
}
.message {
  margin-top: 0 !important;
}
textarea,
select,
.input {
  margin: 20px auto 5px auto !important;
  border: none;
  outline: none;
}
.form select,
textarea,
input[type="text"] {
  font-size: 18px !important;
  border: none;
  outline: none;
}
.form {
  position: relative;
  background: #080613;
  z-index: 1;
  /* height: auto; */
  overflow-x: auto;
  height: calc(100vh - 8.6rem);
  padding: 5px;
  text-align: center;
  border-radius: 8px;
}
.form .input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: var(--grey);
  color: var(--light-color);
  width: 100%;
  border: 0;
  margin-top: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 12px;
  padding-bottom: 0;
  border-radius: 8px;
  resize: none;
  border: none;
  outline: none;
}
.form .message {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 30px;
}
.form .message a {
  color: #8f65f6;
  text-decoration: none;
}
.edit-submit-btn button {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  padding: 6px 15px;
  border: 3px solid #8f65f6;
  border-radius: 50px;
  background-clip: padding-box;
  position: relative;
  color: #fff;
  /* background-color: #bb86ff; */
  background: #8f65f6;
  transition: all 0.25s;
  font-size: 16px;
  margin: 10px;
}
.add-social button {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  padding: 6px 15px;
  border: 3px solid grey;
  border-radius: 50px;
  background-clip: padding-box;
  position: relative;
  color: #fff;
  transition: all 0.25s;
  font-size: 16px;
  margin: 10px;
  background: grey;
}
