/* comment page */
.commentFormText {
  width: 100%;
  padding: 8px 10px 0 10px;
  background-color: var(--grey);
  border: none;
  border-radius: 14px;
  outline: none;
  color: var(--light-color);
  resize: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.commentFormText::placeholder {
  font-size: 16px;
  padding-top: 0.3rem;
}
.commentFormSubmitBtn {
  float: right;
  background: none;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px var(--grey);
  border-radius: 10px;
  padding: 0.4rem;
  color: var(--grey);
  margin-right: 0.4rem;
  cursor: pointer;
  margin-left: 0.6rem;
  margin-top: 0.4rem;
}
.commentFormSubmitBtn:hover {
  background: #696969;
  color: var(--light-color);
}
.comment-form {
  display: flex;
  width: 100%;
}
.comment-text {
  width: 100%;
  height: auto;
  resize: none;
}
.comment-container {
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  background-color: rgba(28, 28, 28, 0.97);
  border-radius: 8px;
  margin: 5px;
  padding: 1.4rem;
}
.comments-section {
  /* background-color: rgba(28, 28, 28, 0.96);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  margin-top: 10px; */
  background-color: rgba(28, 28, 28, 0.97);
  border-radius: 8px;
  margin: 5px;
  padding: 1.4rem;
  display: flex;
}

.commentsText {
  color: var(--light-color);
  padding-bottom: 1rem;
}

.commentsName {
  width: 100%;
}

.commentsNameAndAvi {
  display: flex;
  align-items: center;
}

.commentsNameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-top: 1%;
}

/* .postPage {
  height: 93%;
  overflow: auto;
  padding-top: 1.4rem;
  padding-bottom: 2rem;
} */

.backHome {
  background-color: rgba(28, 28, 28, 0.97);
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px var(--grey);
  border-radius: 10px;
  padding: 0.4rem;
  color: var(--grey);
  margin-right: 0.4rem;
  cursor: pointer;
  margin: 1rem;
  position: relative;
  top: 0.55rem;
}

.backHome:hover {
  background: var(--grey);
  color: var(--light-color);
}
