.leftColumnItem {
  padding: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.leftColumnItem:active {
  color: white;
  text-decoration: none;
}

.leftColumnItem:visited {
  color: white;
  text-decoration: none;
}

.leftColumnItem:hover {
  color: var(--primary-color);
}
