/* navbar */
.navbar {
  display: flex;
  background-color: var(--dark-color);
  color: #d4d4d4;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 2;
  width: 90%;
  top: 0;
  /* border-bottom: 1px solid var(--primary-color); */
}
.navbarLogo {
  width: 20%;
}
.navbarLogoTwo {
  width: 18%;
  filter: opacity(0.88);
}
.middleNav {
  display: flex;
  /* background-color: #1b1b1b; */
  color: #d4d4d4;
  width: 60%;
  justify-content: space-around;
  width: 30%;
  font-weight: bold;
}
.rightNav {
  display: flex;
  /* background-color: #1b1b1b; */
  color: #d4d4d4;
  width: 20%;
  justify-content: flex-end;
  font-weight: bold;
}
.rightNavGuest {
  display: flex;
  background-color: #1b1b1b;
  color: #d4d4d4;
  width: 10%;
  justify-content: space-between;
  font-weight: bold;
}

.middleLink {
  color: var(--light-color);
}

.middleLink:hover {
  color: var(--primary-color);
}

.middleLink:active {
  color: var(--light-color);
}

.middleLink:visited {
  color: var(--light-color);
}

.rightLink {
  color: var(--light-color);
}

.rightLink:hover {
  color: var(--primary-color);
}

.rightLinkGuest {
  color: var(--light-color);
  padding-left: 1em;
  padding-right: 1em;
}

.rightLinkGuest:hover {
  color: var(--primary-color);
}
